name: Security Scans

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  codeql:
    uses: github/codeql-action/.github/workflows/codeql.yml@v3
    with:
      languages: 'javascript'

  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Trivy FS scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: gitleaks
        uses: zricethezav/gitleaks-action@v2
        with:
          args: "--no-banner"


